.kf_top_social_icon ul li:hover a,
.kf_callus i,
.kf_phone_num h6,
.kf_main_navigation ul li::before,
.kf_main_navigation ul li.active > a,
.kf_main_navigation ul li:hover > a,
.kf_property_services_wrap:hover i,
.kf_property_services_wrap:hover h5 > a,
.kf_property_listing_wrap:hover .kf_property_listing_des h5 > a,
.kf_property_listing_wrap:hover .kf_listing_total_price h4,
.kf_property_pagination ul li a:hover,
.kf_property_pagination ul li.active a,
.kf_rent_property_des h6 > a:hover,
.kf_rent_property_des ul li:hover i,
ul.kf_blog_listing_meta li:hover a,
.kf_blog_listing_des > a:hover,
.kf_aside_category ul li:hover:before,
.kf_aside_category ul li:hover a,
.kf_aside_category ul li:hover span,
.kf_aside_post_des h6 > a:hover,
.kf_aside_agent_des h6 > a:hover,
.kf_aside_agent_des span i,
ul.kf_blog_social_icon li:hover a,
.kf_listing2_blog h4 > a:hover,
ul.kf_tag_list li:hover a,
.kf_property_detail_real ul li:hover i,
.kf_property_detail_real ul li:hover a,
.kf_comment_des > a,
.kf_comment_des h6 > a:hover,
.kf_property_detail_Essentail ul li:hover a,
.kf_pet_testi_3_fig_des h5 > a:hover,
.kf_property_caption h5 > a:hover,
.kf_property_dolar li:hover a,
ul.kf_listing_03_location li:hover a,
.kf_error_text h3,
.pet_love_content_list h6 > a:hover,
.goal_des > ul > li::before,
ul.kf_product_featured_list li:hover a,
ul.envoto_ui_element li:hover a,
ul.envoto_tweet_element li:hover a{color:#d7a45e;}
.kf_list_free:hover,
.kf_main_navigation ul ul li:hover > a,
.dl-menuwrapper ul,
.kf_logo_nav_style2 .kf_main_navigation > ul > li.active > a,
.kf_logo_nav_style2 .kf_main_navigation > ul > li:hover > a,
.kf_banner_wrap .bx-wrapper .bx-controls-direction a:hover,
.dl-menuwrapper button,
.kf_property_services_wrap:hover h5 > a:before,
.kf_play_btn > a:hover,
.kf_video_wrap > a:hover,
.kf_video_wrap > a:hover > i:after,
.kf_leased_property.kf_sold_property a.kf_link_1:hover,
.kf_leased_property:after,
.kf_rent_label,
.kf_rent_property_des ul li:hover span,
.kf_property_rent_wrap:hover .kf_rent_location,
.kf_rent_property.owl-theme .owl-controls .owl-page.active span,
.kf_rent_property.owl-theme .owl-controls .owl-page:hover span,
.kf_num_counter_bg:before,
.kf_twitter_wrap_bg,
.widget > h6:before,
.kf_schedule_wrap,
.kf_schedule_visit > a:hover,
.kf_search_field input[type="submit"],
.kf_search_field button,
.kf_know_property_bg,
.kf_heading_2 h3:before,
.kf_video_icon a:hover,
.kf_blog_listing_wrap .bx-wrapper .bx-controls-direction a,
.kf_search_property_wrap h6,
.kf_property_field .kf_range_slider .ui-slider .ui-slider-range,
.aside_hdg h5:after,
.kf_property_field input[type="submit"],
.kf_property_field button,
.kf_listing2_blog_wrap:hover .kf_listing2_blog_des > a,
.kf_property_detail_social_icon ul li a,
.kf_commet_field input[type="submit"],
.kf_commet_field button,
.kf_cooming_soon_form button:hover,
.member_contact_des i,
.kf_member_contact_detail ul li:hover,
.kf_client_review_slider.owl-theme .owl-controls .owl-page.active span,
.kf_client_review_slider.owl-theme .owl-controls .owl-page:hover span,
.kf_listing_03_wrap:hover .kf_listing_total,
.kf_listing_03_des > a:hover,
.kf_content_us_icon span:before,
.kf_loging_input button,
.kf_loging_input input[type="submit"],
.kf_property_detail_bed ul li:hover,
.kf_property_detail_sale > a,
.kf_property_detail_form button,
.kf_property_detail_form input[type="submit"],
.kf_go_back_bg,
.kf_submit_property_button button,
.accordion.accordion-open,
ul.kf_shortcode_social2 li:hover a,
.kf_link_1:hover,
.kf_btn_1:hover,
.kf-action7_content:hover a::before,
.pet_love_content ul li:hover span::before,
.kf_price_table:hover .kf_table_price,
.kf_price_table:hover .kf_table_price::before,
.kf_login_1,
.top_navi_circal:hover a,
.kf_hdr2_search > a:hover,
.kf_hdr2_navigation,
#filterable-item-filter-1 a{background-color:#d7a45e;}
.kf_main_navigation ul ul,
.kf_listing_detail > a.kf_link_1:hover,
.kf_play_btn > a:hover,
.kf_video_wrap > a:hover,
.kf_compnay_wrap:hover,
.kf_blog_listing_pager a.active,
.kf_blog_listing_pager a:hover,
.kf_property_field .kf_range_slider .ui-slider .ui-slider-handle,
.kf_listing2_blog_wrap:hover .kf_listing2_blog_des > a,
.kf_client_review_slider .item:hover .kf_pet_testi_3,
.kf_client_review_slider .item:hover .kf_pet_testi_3_fig figure img,
.kf_listing_03_des > a:hover,
.kf_content_us_icon span:after,
ul.kf_shortcode_social2 li:hover a,
.kf_link_1:hover,
.kf_prdct_featured_wrap a.kf_link_1:hover,
.kf_price_table:hover,
.kf_hdr2_search input[type="text"]:focus{border-color:#d7a45e;text-decoration:none;}
.kf_top_social_icon ul li a,
.kf_list_free a,
.kf_list_free,
.kf_list_free a,
.kf_main_navigation ul li,
.kf_main_navigation ul li:before,
.kf_main_navigation ul li a,
.kf_main_navigation ul li a:hover,
.kf_main_navigation ul ul,
.kf_main_navigation ul ul ul,
.kf_mega_detail i,
.dl-menuwrapper button,
.kf_banner_wrap .bx-wrapper .bx-controls-direction a,
.kf_property_services_wrap,
.kf_property_services_wrap i,
.kf_property_services_wrap h5 > a,
.kf_property_services_wrap > a,
.kf_property_listing_wrap,
.kf_listing_detail,
.kf_listing_overlay,
.kf_listing_detail > a, .kf_listing_detail > a:hover,
.kf_property_listing_des,
.kf_property_listing_des h5 > a,
.kf_listing_total_price,
.kf_listing_total_price h4,
.kf_property_pagination ul li a,
.kf_video_wrap a:hover,
.kf_video_wrap a i:after,
.kf_recent_property_wrap,
.kf_like_property,
.kf_recent_visible_des,
.kf_like_property a,
.kf_recent_property_des,
ul.kf_recent_rating li a,
.kf_recent_property_meta,
.kf_property_rent_wrap,
.kf_rent_label,
.kf_rent_property_des h6 > a,
.kf_rent_property_des ul li,
.kf_rent_property_des ul li span,
.kf_rent_location,
.kf_rent_location h6,
.kf_rent_total_price,
.kf_rent_property.owl-theme .owl-controls .owl-page span,
.kf_agent_wrap figure img,
.kf_agent_des h6 > a,
.kf_agent_slider.owl-theme .owl-controls .owl-buttons div,
.kf_blog_post_wrap,
.kf_blog_post_wrap h6,
.kf_blog_post_wrap h6 a,
.kf_blog_des,
.kf_blog_post_wrap figure img,
ul.kf_blog_post_meta li,
ul.kf_blog_post_meta li i,
ul.kf_blog_post_meta li a,
.kf_blog_des a,
.kf_compnay_wrap,
.kf_compnay_wrap a,
.kf_compnay_wrap a img,
ul.kf_foo_address li i,
ul.kf_foo_address li a,
ul.kf_foo_social_icon li a,
.kf_foo_listing_des > h6 > a,
.kf_foo_latest_post,
.kf_foo_latest_post figure img,
.kf_foo_post_des p > a,
.kf_foo_property_type ul li,
.kf_foo_property_type ul li a,
.kf_foo_property_type ul li a span,
.kf_copyright_element ul li a,
.kf_schedule_visit > a,
.kf_search_tab_wrap ul li a,
.kf_search_field input[type="submit"],
.kf_search_field button,
.kf_video_icon a,
.kf_video_icon a,
.kf_core_value_wrap ul li,
.kf_core_value_wrap ul li a,
.kf_testimonial_wrap .bx-wrapper .bx-controls-direction a,
ul.kf_blog_listing_meta li,
ul.kf_blog_listing_meta li a,
.kf_blog_listing_des > a,
.kf_blog_listing_wrap .bx-wrapper .bx-controls-direction a,
.kf_blog_listing_pager a,
.kf_aside_category ul li,
.kf_aside_category ul li:before,
.kf_aside_category ul li a,
.kf_aside_category ul li span,
.kf_property_field input[type="submit"],
.kf_property_field button,
.kf_aside_post_des h6 > a,
.kf_aside_post_wrap ul li figure img,
.kf_aside_agent_des h6 > a,
.kf_aside_fea_agent ul li figure img,
.kf_aside_fea_properties ul li a img,
.kf_listing2_blog_des > a,
ul.kf_blog_social_icon li a,
.kf_blog2_date,
.kf_blog2_date span,
.kf_listing2_blog h4 > a,
.kf_listing2_blog_des .bx-wrapper .bx-controls-direction a,
ul.kf_tag_list li a,
.kf_property_detail_Essentail ul li a,
.kf_floor_detail h5 > a,
.kf_property_detail_real ul li,
.kf_property_detail_real ul li i,
.kf_property_detail_real ul li a,
.kf_property_detail_social_icon ul li a,
.kf_comment_des h6 > a,
.kf_comment_des > a,
.kf_commet_field input[type="submit"],
.kf_commet_field button,
.kf_cooming_soon_form button,
.kf_member_contact_detail ul li:hover,
.member_contact_des i,
.member_contact_des h5 > a,
.member_contact_des a,
.member_contact_des h5,
ul.kf_recent_rating li a,
.kf_pet_testi_3,
.kf_pet_testi_3_fig figure img,
.kf_pet_testi_3_fig_des h5 > a,
.kf_property_view i,
.kf_property_caption h5 > a,
.kf_property_dolar li a,
.kf_property_more,
.kf_property_img figure img,
.kf_listing_total,
.kf_listing_img_des a,
ul.kf_listing_03_location li a,
.kf_listing_03_des > a,
.kf_listing_img_des h3,
.kf_listing_03_des > a:hover,
.kf_content_us_icon span,
.kf_content_us_icon span:before,
.kf_content_us_icon span:after,
.kf_with_us_form button,
.kf_with_us_social ul li a,
.kf_with_us_form input[type="text"],
.kf_with_us_form input[type="email"],
.kf_loging_input input[type="text"],
.kf_loging_input label,
.kf_loging_input button,
.kf_loging_input input[type="submit"],
.kf_login_password ul li a,
.kf_property_detail_bed ul li,
.kf_property_detail_bed ul li a,
.kf_property_detail_form button,
.kf_property_detail_form input[type="submit"],
.kf_property_detail_form input[type="text"],
.kf_property_detail_form textarea,
.kf_submit_property_button button,
.pet_love_content_list h6 > a,
ul.kf_shortcode_social2 li a,
.kf_link_1,
.kf_link_2,
.kf_btn_1,
.pet_love_content ul li span::before,
.kf-action7_content a,
.kf_table_price,
.kf_price_table,
.kf_table_price::before,
.kf_price_table,
ul.kf_product_featured_list li a,
.kf_link_2,
.pet_love_content span,
ul.envoto_ui_element li a,
ul.envoto_tweet_element li a,
.kf_login_social_icon ul li,
.top_navi_circal a,
.kf_hdr2_search > a,
.kf_hdr2_search input[type="text"],
.kf_menu_scl_icon ul li a,
.kf_hdr2_social_icon ul li a,
.kf_top_weather a,
#filterable-item-filter-1 a,
.edu_masonery_thumb figure,
.edu_masonery_thumb figure::before,
.edu_masonery_thumb figure > a,
.edu_masonery_thumb figure figcaption,
.edu_masonery_thumb:hover figure figcaption,
.edu_masonery_thumb figure figcaption a{transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;text-decoration:none;}
.kf_property_listing_wrap:hover .kf_listing_detail > a,
.kf_property_rent_wrap:hover .kf_listing_overlay,
.kf_property_rent_wrap:hover .kf_listing_detail > a,
.kf_property_detail_map ul li:hover .kf_listing_overlay,
.kf_agent_wrap:hover .kf_listing_overlay,
.kf_listing_03_wrap:hover .kf_listing_overlay,
.kf_content_us_icon:hover span:before,
.kf_content_us_icon:hover span:after,
.kf-action7_content:hover a::before,
.pet_love_content ul li:hover span::before{transform:scale(1);-moz-transform:scale(1);-webkit-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);}
.kf_agent_wrap:hover figure img,
.kf_blog_post_wrap:hover figure img,
.kf_foo_latest_post:hover figure img,
.kf_aside_post_wrap ul li:hover figure img
.kf_aside_fea_agent ul li:hover figure img,
.kf_aside_fea_properties ul li:hover a img,
.kf_listing_outer_wrap:hover .kf_property_img figure img{transform:scale(1.2);-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-ms-transform:scale(1.2);-o-transform:scale(1.2);}
.kf_like_property > a:hover,
.kf_agent_des h6 > a:hover,
.kf_blog_post_wrap:hover > h6,
.kf_blog_des > h6 > a:hover,
.kf_blog_post_wrap:hover .kf_blog_des > a,
ul.kf_blog_post_meta li:hover i,
ul.kf_blog_post_meta li:hover a,
ul.kf_foo_address li:hover i,
ul.kf_foo_address li:hover a,
.kf_foo_listing_des > h6 > a:hover,
.kf_foo_post_des p > a:hover,
.kf_foo_property_type ul li:hover a,
.kf_copyright_element ul li:hover a,
.kf_search_field .amount,
.kf_core_value_wrap ul li.active a,
.kf_core_value_wrap ul li:hover a,
.kf_comming_counter ul.countdown li span,
.kf_team_detail_des ul.kf_recent_rating li:hover a,
.kf_listing_03_des ul.kf_recent_rating li:hover a,
.kf_with_us_social ul li:hover a,
.kf_login_password ul li:hover a,
.kf_404_wrap h2,
.kf_not_found_wrap h2,
.kf_submit_property_newsletter a,
.kf_link_2:hover,
.kf_hdr2_social_icon ul li:hover a,
.kf_top_weather a:hover{color:#d7a45e;}
.kf_top_bar,
.no-touch .dl-menuwrapper li a:hover,
.kf_banner_wrap .bx-wrapper .bx-controls-direction a,
.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active,
.kf_hdr2_navigation .dl-trigger,
.kf_sold_property.kf_sold_property:after,
.kf_leased_property a.kf_link_1:hover,
.widget > h6:after,
.kf_foo_listing_hover,
ul.kf_foo_social_icon li:hover a,
.kf_schedule_visit > a,
.kf_search_tab_wrap ul li.active a,
.kf_search_tab_wrap ul li:hover a,
.kf_search_field input[type="submit"]:hover,
.kf_search_field button:hover,
.kf_range_slider .ui-widget-header,
.kf_property_sub_banner,
.kf_heading_2 h3:after,
.kf_testimonial_wrap .bx-wrapper .bx-controls-direction a:hover,
.kf_blog_listing_wrap .bx-wrapper .bx-controls-direction a:hover,
.aside_hdg h5:before,
.kf_property_field input[type="submit"]:hover,
.kf_property_field button:hover,
.kf_blog2_date:before,
.kf_listing2_blog_des .bx-wrapper .bx-controls-direction a:hover,
.kf_property_detail_social_icon ul li:hover a,
.kf_commet_field input[type="submit"]:hover,
.kf_commet_field button:hover,
.kf_cooming_soon_form button,
.kf_member_contact_detail ul li:hover .member_contact_des i,
.kf_property_view i:hover,
.kf_property_more:hover,
.kf_with_us_form button:hover,
.kf_loging_input button:hover,
.kf_loging_input input[type="submit"],
.kf_loging_input input[type="text"]:focus + label,
.kf_property_detail_form button:hover,
.kf_property_detail_form input[type="submit"]:hover,
.kf_submit_property_button button:hover,
.kf_table_price,
.kf_table_price::before,
.kf_login_social_icon ul li:hover a,
.top_navi_circal a,
.kf_hdr2_search > a,
.kf_menu_scl_icon ul li a,
.header2 .kf_main_navigation > ul > li.active > a,
.header2 .kf_main_navigation > ul > li:hover > a,
.header2 .kf_main_navigation ul ul li:hover > a,
#filterable-item-filter-1 a:hover,
.edu_masonery_thumb:hover figure figcaption,
#filterable-item-filter-1 > li .active{background-color:#000000;text-decoration:none;}
.kf_client_review_slider .item:hover .kf_pet_testi_3::before{border-color:#0070bb transparent transparent;}
