@media (min-width:1421px){.dl-menuwrapper{display:none;}
.kf_schedule_wrap{width:32%;}
ul.kf_foo_address li span{margin-left:9px;}
.collapsible, .kf_twitter_des p{margin:12px 0 !important;}
}
@media screen and (min-width:1321px) and (max-width:1420px){.dl-menuwrapper{display:none;}
ul.kf_foo_address_link li{padding:12px 0px;}
.project-img .kf_listing_detail > a.kf_link_1{color:#fff !important;}
.collapsible, .kf_twitter_des p{margin:13px 0 !important;}
.kf_twitter_des{margin-top:-65px;}
.kf_schedule_wrap{margin-left:-430px;border-radius:2px;}
.kf_leased_property{padding:0px;min-height:456px;}
.kf_banner_mega_kingx{padding:35px 25px;}
.kf_mega_detail{padding:15px 10px;}
.kf_banner_mega_kingx > h4{margin:0px 0px 15px;}
.kf_banner_mega_kingx > p{margin-bottom:15px;}
.kf_total_price{margin:23px 0;}
/*.rera{padding: 5px 10px;width: 100%;display: inline-block;}
.rera ul {margin: 0;padding: 0;}
.rera ul li {color: #d8d5d5;font-size: 16px;margin: 5px 0;}*/
.kf_twitter_logo{font-size:16px;}
ul.kf_foo_address li{padding:14px 0px;}
.kf_footer_logo p{font-size:16px;}
}
@media screen and (min-width:1200px) and (max-width:1320px){.dl-menuwrapper{display:none;}
.kf_twitter_logo{margin-bottom:13px;}
.kf_schedule_wrap{margin-left:-414px;}
.kf_banner_mega_kingx{padding:25px 25px;}
.kf_mega_detail{padding:15px 10px;}
.kf_total_price{margin:10px 0;}
.kf_schedule_wrap h3{font-size:23px}
.rera{padding:5px 75px;}
}
@media screen and (max-width:1024px){.carousel-inner{margin-top:-20px;}
.kf_callus{padding-left:0px;}
.about .pm{margin-top:-180px;}
.kf_team_detail_img{top:50px;}
.kf_blog_slider.owl-theme .owl-controls .owl-buttons div.owl-prev:before, .kf_blog_slider.owl-theme .owl-controls .owl-buttons div.owl-next:before{margin-left:43px;}
.kf_blog_slider.owl-theme .owl-controls .owl-buttons div.owl-next:before{margin-right:513px;}
.kf_property_listing_des ul li{width:100%;}
kf_property_listing_des p{font-size:13px;}
.developer-logo .item{width:29%;margin:0 100px;}
.developer-logo .kf_compnay_wrap{margin:22px 0px;     z-index: 9;}
}
@media screen and (min-width:991px) and (max-width:1199px){.dl-menuwrapper{display:none;}
.project-img button{padding:7px 95px;}
.project-img .kf_property_listing_des p{font-size:11px;}
.carousel-inner{margin-top:-78px;}

.kf_recent_meta_des p{font-size:10px;}
.kf_recent_property_des h6{font-size:11px;}
.kf_recent_property_des > h5{font-size:15px;}
.kf_callus{padding-left:0px;}
.kf_main_navigation ul li a{font-size:11px;}
.kf_banner_mega_kingx{display:none;}
.kf_twitter_logo a{font-size:13px;}
.rera{padding:5px 6px;}
.kf_foo_listing_hover p{width:267px;}
.kf_property_listing_des ul li{font-size:11px;}
video{height:379px;}
.kf_logo{width:170px;}
.kf_main_navigation{width:58%;}
.kf_main_navigation ul li a{padding:19px 7px;}
.kf_callus i{font-size:42px;}
.kf_phone_num h6{font-size:24px !important;}
.kf_envote_wrap{top:45px;left:45px;bottom:45px;right:45px;}
.kf_property_view{margin-left:15px;}
.kf_property_caption{width:68%;}
.kf_property_place > h5{float:right;}
.kf_property_img_03{width:100%;margin:0px 0px 15px;}
.kf_property_img_03 figure{width:100%;}
.kf_listing_03_des{float:left;width:100%;padding:0px;}
.kf_property_detail_img_row a{width:24.3%;}
.kf_property_detail_bed a{padding:20px 0px;}
.kf_rent_label{left:-63px;top:25px;}
.kf_aside_fea_properties ul li{margin:0 4px 5px 0;}
.kf_listing_03_des{padding-left:20px;padding-right:20px;}
.kf_member_contact_detail ul li{width:43%;}
.member_contact_des h5{font-size:16px;}
.kf_content_us_icon a{font-size:15px;}
.kf_with_us_social{margin-bottom:15px;}
.kf_hdr2_search input[type="text"]{width:170px;}
.kf_property_services_wrap p{font-size:9px;line-height:14px;}
}
@media (min-width:768px) and (max-width:990px){.kf_top_social_icon ul li a{padding:12px 10px;}
.seprator{display:none;}
.bg-image{height:auto;}
.specification-image{width:100%;}
.know-more{width:100%;}
.kf_list_free a,
.kf_opening_time p{font-size:12px;}
.kf_main_navigation{display:none;}
.kf_schedule_wrap{margin-left:-282px;margin-top:-140px;}
.kf_num_counter_bg{padding-bottom:40px;}
.kf_num_count_wrap{margin-bottom:30px;}
.kf_footer_bg{padding-bottom:30px;}
.kf_foo_contact,
.widget{margin-bottom:30px;}
.kf_twitter_logo{margin-top:10px;}
.kf_banner_mega_kingx{display:none;}
.kf_aboutus_video_bg{padding-bottom:40px;}
.kf_property_services_wrap{margin-bottom:30px;}
.kf_aboutus_video_bg{padding-bottom:40px;}
.kf_aboutus_video_wrap{margin-bottom:30px;}
.kf_know_property_des h2{font-size:30px;}
.kf_know_property_des h3{font-size:25px;}
.kf_testimonial_wrap{margin-bottom:60px;}
.kf_testimonial_wrap .bx-wrapper .bx-controls-direction a{bottom:-40px;}
.kf_blog_listing_list{margin-bottom:30px;}
.kf_property_caption{width:68%;}
.kf_property_place > h5{float:right;}
.kf_property_dolar li a{font-size:12px;}
.kf_property_dolar li i{margin-right:6px;}
.kf_property_meta h5{margin-bottom:15px;}
.kf_property_meta h5,
.kf_view_type,
.kf_property_view,
.kf_property_view .chosen-container-single .chosen-single,
.kf_property_view .chosen-container-single{width:100% !important;}
.kf_property_view{margin-left:0px;margin-bottom:10px;}
.kf_property_img_03{width:100%;margin:0px 0px 15px;}
.kf_property_img_03 figure{width:100%;}
.kf_listing_03_des{float:left;width:100%;padding:0px;}
.kf_property_detail_img_row a{width:24.4%;}
.kf_property_detail_Essentail{margin-bottom:10px;}
.kf_property_detail_link{padding-bottom:30px;}
.kf_property_detail_agent,
.kf_property_detail_real{margin-bottom:15px;}
.kf_rent_label{left:-103px;top:45px;}
.kf_property_detail_bed a{padding:22px 0px;}
.kf_listing_03_des{padding-left:20px;padding-right:20px;}
.kf_team_detail_img{margin-bottom:20px;}
.kf_member_contact_detail ul li{width:100%;margin-left:30px;}
.kf_submit_property_post{margin-bottom:15px;}
.kf_price_table{margin-bottom:20px;}
.kf_not_found_wrap{margin-top:-85px;}
.kf_404_wrap h2{font-size:340px;}
.kf_content_us_icon a{font-size:15px;}
.kf_with_us_maap{margin-bottom:20px;}
.kf_our_agent_bg{padding-bottom:110px;}
.kf_agent_slider.owl-theme .owl-controls .owl-buttons div{bottom:-30px;left:0px;right:0px;margin:auto;top:auto;}
.top_navi_caption{width:100%;margin-top:10px;}
.top_navi_caption ul{width:100%;}
.top_navi_caption ul li{width:33.3%;padding:0px;}
.kf_hdr2_navigation .dl-menuwrapper{float:left;margin-top:15px;margin-left:50px;margin-right:0px;}
.developer-logo .item{width:23%;}
.location-bg{background-image:none;}
.location-bg .gurgaon{margin-top:0px;}
.location-bg .delhi{margin-top:0px;margin-left:0px;}
.location-bg .bangalore{margin-top:0px;}
.location-bg .kf_property_line{display:none}
.seprator img{display:none !important;}
}
@media (max-width:767px){.kf_property_sub_banner{margin-top:20%;}
.carousel-inner{margin-top: -29px;}
.kf_banner_wrap{ border:none;}
.carousel-inner>.item>img{    height: 300px !important;}
.kf_team_detail_img figure:before{top:3px;left:58px;right:58px;bottom:3px;border:3px solid #fff;}
.kf_team_detail_img figure img{    padding: 0 55px;}
.kf_property_sub_banner{margin-top:17%;}
.location-bg{background-image:none;height:auto;}
.location-bg .gurgaon{margin-top:0px;text-align:center;}
.location-bg .delhi{margin-top:0px;text-align:center;margin-left:0px;}
.location-bg .bangalore{margin-top:0px;text-align:center;}
.location-bg .kf_property_line{display:none}
.kf_video_wrap > a{font-size:14px;}
#mobile-footer-widget .row{background:#f99b02;color:#fff;padding:0 -15px;margin:0;}
#mobile-footer-widget .row .col-xs-6{border:1px solid #fff;border-collapse:collapse;}
#mobile-footer-widget .row p{padding:10px 0;margin:0;color:#fff;font-weight:normal;font-size:16px;letter-spacing:1px;}
.developer-logo .item{width:48%;}
.contact-page{margin-top:32%;}
.kf_top_bar{text-align:center;}
.offers{padding-right:3px !important;padding-top:79px;width:30% !important}
.kf_property_detail_bg .container{padding-right:50px;padding-left:50px;}
.kf_opening_time{margin-bottom:10px;}
.kf_opening_time,
.kf_list_free,
.kf_top_social_icon,
.kf_top_social_icon ul{width:100%;}
.kf_main_navigation{display:none;}
.kf_logo_nav_wrap{text-align:center;background-color:#000;}
.kf_property_services_wrap figure{margin-left:108px;}
.property-service{display:none;}
.about .pm{margin-top:0px;}
.kf_logo,
.kf_callus{width:100%;margin:-62px 0px 5px 0px;}
.kf_logo{text-align:left;width:60%;margin-top:3%;padding-left:1px;}
.kf_callus{display:none;}
.kf_callus::before{display:none;}
.kf_banner_mega_kingx{display:none;}
.kf_property_services_wrap{margin-bottom:30px;}
.our_services_bg,
.kf_num_counter_bg{padding-bottom:40px;}
.kf_recent_property_des{padding:22px 20px;}
.kf_leased_property{width:100%;padding:100px 0 0;}
.kf_num_count_wrap{margin-bottom:30px;}
.kf_twitter_des{width:100%;margin-top:19px;padding-left:5%;}
.kf_twitter_logo{display:none;}
.kf_twitter_msg{padding-right:0px;text-align:center;}
.kf_our_agent_bg{padding-bottom:110px;}
.kf_agent_slider.owl-theme .owl-controls .owl-buttons div{bottom:-30px;left:0px;right:0px;margin:auto;top:auto;}
.kf_blog_slider.owl-theme .owl-controls .owl-buttons div{width:31%;margin-right:43px;z-index:99;}
ul.kf_schedule_room li{font-size:9px;}
.kf_property_listing_wrap{width:100%;}
.kf_foo_contact,
.widget{margin-bottom:30px;}
.kf_footer_bg{padding-bottom:35px;}
.kf_copyright_element ul li{margin-bottom:10px;}
.rera ul li {
    font-size: 15px;
    margin: 5px 0;
    width: 100%;
    border: 0 !important;
	line-height: normal;
}
.kf_copy_right{padding-bottom:15px;}
.kf_schedule_wrap{width:308px;margin-left:-109px;margin-top:-96px;}
ul.kf_schedule_room{margin:0;padding:0px 0px 7px 0px;}
.kf_schedule_wrap h3{font-size:16px;}
.kf_schedule_wrap p{font-size:11px;}
ul.kf_schedule_room li{font-size:10px;}
.kf_schedule_visit h4{font-size:12px !important;}
.kf_schedule_visit a{font-size:10px;}
.kf_advance_search_bg{margin:0px;padding-top:70px;}
.carousel-indicators{bottom:0px !important;}
.kf_search_tab_wrap ul li{width:47%;margin-bottom:5px;}
.kf_advacnce_search_form{width:95.5%;padding:30px 20px 15px;margin-top:-6px;}
.kf_range_slider .slider-range{width:77%;}
.kf_rent_label{top:73px;left:-165px;}
.kf_sub_banner_hdg{margin-bottom:15px;}
.kf_sub_banner_hdg,
.kf_property_breadcrumb{width:100%;text-align:center;float:none;display:inline-block;}
.kf_property_breadcrumb ul{width:100%;}
.kf_aboutus_video_bg{padding-bottom:40px;}
.kf_aboutus_video_wrap{margin-bottom:30px;}
.kf_know_property_des{text-align:center}
.kf_know_property_img{display:none;}
.kf_know_property_des h2{font-size:25px;}
.kf_know_property_des h3{font-size:20px;}
.kf_testimonial_wrap{margin-bottom:60px;}
.kf_testimonial_wrap .bx-wrapper .bx-controls-direction a{bottom:-40px;}
.kf_core_value_des figure{width:100%;margin:0px 0px 15px;}
.kf_core_img_des{width:100%;float:left;padding:0px;}
.kf_aboutus_video_des,
.kf_core_img_des{text-align:center;}
ul.kf_aboutus_list li{text-align:left;}
.kf_envote_wrap{top:15px;left:15px;bottom:15px;right:15px;}
.kf_envote_wrap{padding:30px 25px;}
.kf_blog_listing_wrap .bx-wrapper .bx-controls-direction a{top:50%;}
.kf_blog_listing_list{margin-bottom:30px;}
.kf_blog_listing_des h5{font-size:15px;}
.kf_blog_listing_pager,
.kf_envote_wrap{display:none;}
.kf_blog2_date{margin-bottom:15px;}
.kf_listing2_blog{float:left;width:100%;padding:0px;}
.kf_listing2_blog h4{font-size:16px;}
ul.kf_blog_social_icon{width:100%;text-align:center}
.kf_listing2_blog_des .bx-wrapper .bx-controls-direction a{top:45%;}
.kf_comment_wrap figure{width:100%;margin:0px 0px 25px;}
.kf_comment_wrap figure{width:auto;}
.kf_comment_des{float:left;width:100%;padding:0px;}
.kf_commet_field textarea{margin-bottom:25px;}
.kf_post_comment_wrap{margin-bottom:30px;}
.kf_property_meta h5{margin-bottom:15px;}
.kf_property_meta h5,
.kf_view_type,
.kf_property_view,
.kf_property_view .chosen-container-single .chosen-single,
.kf_property_view .chosen-container-single{width:100% !important;}
.kf_property_view{margin-left:0px;margin-bottom:10px;}
.kf_property_img{width:100%;margin-bottom:15px;}
.kf_property_place{float:left;width:100%;padding:0px;}
.kf_property_caption{width:70%;}
.kf_property_place > h5{float:right;}
.kf_property_dolar li a{font-size:13px;}
.kf_property_img_03{width:100%;margin:0px 0px 15px;}
.kf_property_img_03 figure{width:100%;}
.kf_listing_03_des{float:left;width:100%;padding:0px;}
.kf_property_detail_img_row a{width:24%;}
.kf_property_detail_bed{display:none;}
.kf_property_detail_Essentail{padding-bottom:10px;}
.kf_property_detail_link{padding-bottom:30px;}
.kf_property_detail_agent{margin-bottom:15px;}
.kf_property_detail_real{margin-bottom:15px;}
.kf_listing_03_des{padding-left:20px;padding-right:20px;}
.kf_team_detail_img{margin-bottom:0px;top:0px;}
.kf_member_contact_detail ul li{width:100%;margin-left:30px;}
.member_contact_des h5{font-size:16px;}
.kf_submit_property_post{margin-bottom:15px;}
.kf_search_form .chosen-container{width:100%;}
ul.kf_submit_property_newsletter{margin-bottom:15px;}
ul.kf_submit_property_newsletter,
.kf_submit_property_button{width:100%;}
.kf_price_table{margin-bottom:20px;}
.kf_404_wrap{margin-top:-60px;}
.kf_not_found_wrap{margin-top:-55px;}
.kf_404_wrap h2{font-size:280px;}
.kf_404_wrap figure{top:-95px;}
.kf_404_wrap figure img{width:180px;}
.kf_error_text h3{font-size:20px;}
.kf_404_wrap h2{line-height:normal;}
.kf_logo a img{    width: 55%;padding-left:0px;}
.kf_property_img_datil .page-info{height:463px;margin-top:8%;}
.enquire-left{display:none;}
.enquire-button-top{padding:13px 126px !important;padding:0 24px;}
.kf_hdr2_social_icon ul li a{font-size:11px;margin-left:20px;}
.nav-location{margin-right:20px;}
.nav-download ul li a{font-size:14px;margin-left:7px;}
.downloads-1 h3{text-align:center;}
.kf_hdr2_social_icon ul{margin:0px;padding:0px;float:right;}
.kf_property_detail_hdg h4{margin:9px 0 0px 0px;font-size:22px;}
.kf_hdr2_top_strip .logo-project{text-align:center;}
.kf_hdr2_top_strip{padding:101px 0 7px 0;}
.downloads-1{padding:12px 0 7px 0;}
.kf_comming_soon_wrap h1{font-size:50px;}
.kf_comming_soon_wrap p{font-size:16px;}
.kf_comming_counter ul li{width:200px;height:200px;margin-bottom:15px;padding-top:40px;}
.kf_comming_counter ul li:nth-child(3){margin-left:0px;}
.kf_cooming_soon_form{width:100%;}
.kf_login_colum{width:100%;}
.kf_login_social_icon ul li{margin-right:15px;}
.kf_with_us_maap{margin-bottom:20px;}
.kf_callus{margin-bottom:10px;}
.kf_phone_num{padding-top:0px;padding-left:10px;}
.dl-menuwrapper{width:34%;text-align:right;padding-top:0px;}
.kf_callus{text-align:center;}
.kf_callus i,
.kf_phone_num{float:none;display:inline-block;}
.dl-menuwrapper .dl-menu{left:0px;right:0px;margin:auto;}
.know-more{width:238px;}
.kf_logo{text-align:left;}
.kf_hdr2_search{width:100%;text-align:center;margin-bottom:10px;}
.top_navi_caption,
.top_navi_caption ul{width:100%;}
.kf_login_1 img{width:30%;}
.top_navi_caption ul li{padding:0px;width:33.3%;}
.kf_hdr2_search input[type="text"]{width:100%;}
.kf_hdr2_navigation{padding:20px 0px;}
.kf_menu_scl_icon,
.kf_menu_scl_icon ul{width:100%;padding-top:0px;text-align:center;}
.kf_menu_scl_icon ul li{float:none;display:inline-block;}
.kf_banner_wrap{margin-top:0px;}
.kf_rent_label p{margin-left:13px;}
.kfrl p{padding:7px 96px;font-size:9px;}
.rera{padding:5px 15px;}
.kf_blog_slider.owl-theme .owl-controls .owl-buttons div.owl-prev:before, .kf_blog_slider.owl-theme .owl-controls .owl-buttons div.owl-next:before{margin-left:75px;}
.kf_blog_slider.owl-theme .owl-controls .owl-buttons div.owl-next:before{margin-right:70px;}
.developer-point2 .conectivity-box .b-text-box{font-size: 35px;}
.conectivity-box .n-text{     font-size: 15px;}
.conectivity-box .p-text{font-size: 10px;}
.developer-point2{padding-top: 23px;}
.project-logo {width: 53%;}
.project-dev-logo{ text-align:center;}
}
@media (max-width:480px){.project-img button{padding:7px 135px !important;margin:0;}
.kf_compnay_wrap{width:100% !important;}
.kf_listing_detail > a.kf_link_1{left:36%;}
.kf_leased_property{padding:0px;}
.kf_agent_des{width:100%;}
.project-img .kf_listing_detail > a.kf_link_1{left:34%;color:#fff!important;}
p{font-size:12px;}
header{position:fixed;z-index:9999;}
.kf_recent_property_wrap{margin:1px 0;}
.featured-small-img{width:108%;margin:1px -15px;}
.kf_our_agent_bg{padding-bottom:0px;}
audio, video, canvas{height:auto;width:100%;padding-left:0px;}
.navShadow{position:relative;}
.kf_link_1{padding:10px 0px;width:71%;margin:0 23px;}
.seprator{padding:0;display:none;}
.offer-image img{margin-left:0px;padding-top:10px;}
.kf_property_detail_Essentail ul li p{line-height:1.5 !important;}
.specification-image{width:100%;}
.luxcollection{width:100%;}
.bg-image{height:auto;}
.kf_login_bg{padding:0px 0;}
.kf_property_listing_wrap{box-shadow:none;}
.exp-more{top:5%;z-index:99;margin:0px;}
.kf_advacnce_search_form{width:98%;}
video{height:168px}
.kf_rent_label{left:-115px;top:25px;}
.kf_twitter_wrap_bg{background-color:#000;}
ul.kf_aboutus_list li{width:100%;}
.kf_video_icon{margin:-30px 0 0;}
.kf_testimonial_name{text-align:center;}
.kf_testimonial_slide figure{width:100%;margin-bottom:15px;text-align:center;}
.kf_testimonial_slide figure img{display:inline-block;width:auto;height:auto;}
.kf_testimonial_name{width:100%;padding:0px;}
.kf_banner_wrap{margin-top:94px;z-index:99;}
.kf_testimonial_slide_des{text-align:center;padding:20px 0px;}
.kf_core_value_wrap ul li{width:48%;}
.kf_detail_img{width:30%;margin-left:6px;}
.kf_property_caption{width:100%;}
.kf_property_dolar li{width:100%;margin-bottom:8px;}
.kf_property_caption{width:100%;}
.kf_listing_total{width:100%;margin-bottom:10px;}
.kf_property_listing_des{padding:0px;}
#property_detail_pager{display:none;}
.kf_property_detail_uptwon h3{font-size:25px;}
.kf_property_detail_map ul li{width:100%;margin-right:0px;margin-bottom:15px;}
.kf_listing_04_wrap ul.kf_foo_listing_meta li{width:100%;border-left:0px;padding-left:0px;margin-bottom:8px;}
.kf_listing_03_des .kf_property_caption{width:100%;}
.kf_listing_03_des ul.kf_recent_rating{width:100%;}
.kf_listing_03_des ul.kf_recent_rating li{float:left;}
.kf_team_detail_des ul.kf_recent_rating{width:100%;}
.kf_404_wrap{margin-top:-30px;}
.kf_not_found_wrap{margin-top:-55px;}
.kf_404_wrap h2{font-size:100px;}
.kf_404_wrap figure{top:-36px;}
.kf_404_wrap figure img{width:80px;}
.kf_error_text h3{font-size:10px;}
.kf_error_text{margin:-4px 0px 0px;}
.kf_not_found_wrap{margin-top:-25px;}
.kf_content_us_icon a{font-size:15px;}
.top_navi_caption ul li{padding:0px;width:100%;margin-bottom:20px;}
.know-more{width:100%;}
.collapsible p{text-align:center;padding:0px;}
.kf_content_us_icon{padding:20px 0px;}
.more-btn{margin-left:78px;}
}
@media (max-width:380px){.project-img button{padding:7px 111px !important;margin:0;}
.kf_property_listing_des ul li{width:45% !important;font-size:12px !important;}
ul.kf_foo_social_icon i{font-size:17px;}
.owl-buttons div.owl-next:before{margin-left:50px;}
.kf_blog_slider.owl-theme .owl-controls .owl-buttons div.owl-prev:before, .kf_blog_slider.owl-theme .owl-controls .owl-buttons div.owl-next:before{margin-left:71px;}
.kf_blog_slider.owl-theme .owl-controls .owl-buttons div{margin-right:40px;}
.kf_blog_slider.owl-theme .owl-controls .owl-buttons div.owl-next:before{margin-right:57px;}
}
@media (max-width:320px){.kf_recent_property_des > p{display:none;}
.kf_rent_label{left:-85px;top:48px;}
.kf_property_listing_des ul li{width:45% !important;font-size:12px !important;}
.kf_blog_slider.owl-theme .owl-controls .owl-buttons div{width:29%;}
.kf_comming_counter ul li{width:120px;height:120px;margin-bottom:15px;padding-top:20px;}
.kf_comming_counter ul.countdown li span{font-size:40px;line-height:45px;}
.kf_comming_counter ul li:nth-child(3){margin-left:0px;}
}
